.idea/

# hatch versioning
/src/SOPRANO/version.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dynamic env build for project
src/SOPRANO/conda_env

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Ruff linting
/.ruff_cache/
src/SOPRANO/tmp/

# Data files
src/SOPRANO/data/ensemble_transcriptID.fasta
src/SOPRANO/data/homo_sapiens/**/Homo_sapiens.GRCh*.fa
src/SOPRANO/data/homo_sapiens/**/Homo_sapiens.GRCh*.fa.gz
/example_output.txt

# App output files
pipeline_cache/

# User defined app sources
app_sources/
!app_sources/annotated_inputs/.gitkeep
!app_sources/coordinate_files/.gitkeep
!app_sources/immunopeptidomes/.gitkeep

# Ignore release cache file
src/SOPRANO/data/ensembl.releases